@use "mixins" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b7b7b7;
  section {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 100%;
    .image-container {
      position: relative;
      img.image-head {
        width: 100%;
        height: 100%;
      }
      .text-overlay {
        @include text-overlay;
        .h1 {
          margin-top: 10px;
          @include header-text;
        }
        p {
          margin-top: 10px;
        }
        button {
          margin-top: 40px;
          @include button;
        }
        @include responsive-overlay;
      }
    }
  }
  .grid-section {
    @include grid-section;
    .grid-item.text {
      .grid-item.text {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 30px;
        text-align: center;
      }

      background-color: #fff;
      display: grid;
      &.text {
        display: grid;
        @include text;
        h2 {
          @include header-text;
        }
        p {
          margin-bottom: 20px;
          margin-top: 50px;
          text-align: center;
          @include text-grid;
        }
        .button-container {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            @include button;
          }
          .button-2 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            @include button-2;
          }
        }
      }
    }
    img.image-crampon {
      width: 100%;
      height: 100%;
    }
    @media (max-width: 500px) {
      flex: 1 1 100%;
      max-width: 200px;
    }
  }
  .grid-section-2 {
    @include grid-section;
    .grid-item.text {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 30px;
      text-align: center;

      background-color: #fff;
      display: grid;
      h3 {
        @include header-text;
      }
      p {
        margin-bottom: 20px;
        margin-top: 50px;
        text-align: center;
        @include text-grid;
      }
      .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 40px;
          @include button;
        }
        .button-2 {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 40px;
          @include button-2;
        }
      }

      @media (max-width: 500px) {
        flex: 1 1 100%;
        max-width: 200px;
      }
    }
    img.image-maillot {
      width: 100%;
      height: 100%;
    }
  }
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    padding: 2rem;
    overflow: auto;
    background: #333 url("ballons.jpg") no-repeat center/cover;
    .hero-content {
      color: #fff;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      max-width: 700px;

      h4 {
        font-size: 2.5rem;
        line-height: 1.4;
        margin-bottom: 1rem;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px;
        border-radius: 15px;
        color: #fff;
      }
      button.button-2 {
        display: inline-block;
        padding: 0.8rem 1.8rem;
        background: #fff;
        color: #333;
        font-weight: bold;
        border-radius: 50px;
        text-decoration: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        transition: 0.3s ease;

        &:hover {
          background: #f0f0f0;
        }
      }

      .icon {
        margin: 1rem 0;

        img {
          width: 40px;
          height: auto;
        }
      }
    }
    @include responsive-hero;
  }
}
